<%# <div class="pledged-impact">Pledged Impact</div>
<div class="this-will-save">This will save x trees, and help reduce x tonnes of CO2</div>
<div class="to-be-completed">To be completed</div>
<div class="completed-pledge">Completed Pledges</div>
<div class="completed">Completed</div> %>
