<% @pledges.each do |pledge| %>
  <ul>
    <li><%= pledge.completed %></li>
    <li><%= pledge.recommendation.title %></li>
    <li><%= pledge.recommendation.description %></li>
    <li><%= pledge.recommendation.link_to_article %></li>
  </ul>
<% end %>
