<div  class="  navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to recommendations_path, class: "navbar-brand" do %>
       <i class="fas fa-seedling"></i>
    <%#= image_tag "app/assets/images/logo.png" %>

    <%#= cl_image_tag "qflbyl0yz7z8cw4wwnej" %>
  <% end %>

  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <i class="fas fa-chart-pie navbar-icon-green"></i>
    <%#= image_tag "app/assets/images/logo.png" %>

    <%#= cl_image_tag "qflbyl0yz7z8cw4wwnej" %>
  <% end %>

  <%= link_to pledges_path, class: "navbar-brand" do %>
    <div navbar-icon-counter>
      <i class="fas fa-user"></i>
      <%= Pledge.all.where(completed:false).count %>
    </div>
    <%#= image_tag "app/assets/images/logo.png" %>

    <%#= cl_image_tag "qflbyl0yz7z8cw4wwnej" %>
  <% end %>

</div>
