<div class="container-howto d-none" style="overflow:hidden;" data-homepage-target="newAccount">
  <div class="new-form-card">
    <div class="container slider-one-active">
      <div class="line">
        <div class="dot-move"></div>
        <div class="dot zero"></div>
        <div class="dot center"></div>
        <div class="dot full"></div>
      </div>
      <div class="slider-ctr">
        <div class="slider">
          <form class="slider-form slider-one">
            <h4>Connect Eco-Logical To Your Bank</h4>
            <div class="">
              <label class="input">
                <input type="text" class="name" placeholder="Your Bank?">
              </label>
            </div>
              <button class="first next button-green23">Next Step</button>
          </form>
          <form class="slider-form slider-two form-1">
            <h4>Please Provide Your Account Number</h4>
            <div class="label-ctr">
              <label class="account-number">
                <input type="text" class="number" placeholder="Account Number">
              </label>
            </div>
            <button class="second next button-green23">Next Step</button>
          </form>
          <% if current_user %>
          <div class="slider-form slider-three">
            <h4>Hello <%= current_user.first_name %>, </span></h4>
            <p class="your-bank"></p>
            <p class="account-number-p"></p>
            <h4>Review Your Data & Click Import</h4>
            <div class="importbtnfix">
              <%= link_to "Import!", fetch_expenses_path, class:" button-green96"%>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
