<div class="container-howto d-none" data-homepage-target="newAccount">
  <div class="new-form-card">
    <div class="container slider-one-active">
      <div class="steps">
        <div class="step step-one">
          <div class="liner"></div>
          <span>Bank</span>
        </div>
        <div class="step step-two">
          <div class="liner"></div>
          <span>Account</span>
        </div>
        <div class="step step-three">
          <div class="liner"></div>
          <span>Import</span>
        </div>
      </div>
      <div class="line">
        <div class="dot-move"></div>
        <div class="dot zero"></div>
        <div class="dot center"></div>
        <div class="dot full"></div>
      </div>
      <div class="slider-ctr">
        <div class="slider">
          <form class="slider-form slider-one">
            <h2>Welcome for the first part of your journey</h2>
            <label class="input">
              <input type="text" class="name" placeholder="Your Bank?">
            </label>
            <button class="first next">Next Step</button>
          </form>
          <form class="slider-form slider-two form-1">
            <h2>Please provide you account number</h2>
            <div class="label-ctr">
              <label class="account-number">
                <input type="text" class="number" placeholder="Account Number">
              </label>
            </div>
            <button class="second next">Next Step</button>
          </form>
          <div class="slider-form slider-three">
          <% if current_user %>
            <h2>Hello, <%= current_user.first_name %></span></h2>
          <% end %>
            <p class="your-bank"></p>
            <p class="account-number-p"></p>
            <h3>After Reviewing your information please click to import your data!
            </h3>
            <%= link_to "Import!", fetch_expenses_path%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
