<div class="container d-flex ">
  <p>Lorem ipsumm dolor sit amet consectetur adipisicing elit. Tenetur, dolor sint impedit quasi accusamus ad suscipit doloremque rerum minus maxime repellat dolorem in sequi quibusdam nobis! Natus voluptates quos a.</p>
  <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>
</div>
