<div class="homepage-background">
    <div class="home-page-text">
      <br><br><br><br><br>
      <h1>Ecological</h1><br><br><br><br><br>

      <%= link_to "Become Green", profile_path	, class: "button-main" %><br><br><br><br><br>
      <br><br><br>
      <p> Helping you become more environmentally friendly and making our planet greener</p>
      <br>

    </div>
</div>
<div class= "homepage-container">
    <br>
    <div class="card-green">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
    </div>
    <%= image_tag "https://www.cloverly.com/hubfs/Cloverly_January_2021/images/hiw-icon-3.svg", id: "homepage-solar" %>
    <br>
    <%= image_tag "https://www.cloverly.com/hubfs/Cloverly_January_2021/images/ecommerce.svg"  %>

    <h1>Ecommerce</h1>
    <p>See how our carbon neutral and net-zero partners are offsetting ecommerce shipments through Shopify, BigCommerce, Magento, and custom integrations.</p>

</div>
