<div class=" d-flex justify-content-center align-items-center">
  <%= video_tag("https://res.cloudinary.com/dyjkajjgg/video/upload/v1638189874/Ecological%20videos/ecological_rjj5qs.mp4", autoplay: true, loop: true, width: "480vw") %>
</div>
