<div class="homepage-container" data-controller="homepage">
  <div class="video-wrapper">
    <%= video_tag("https://res.cloudinary.com/dyjkajjgg/video/upload/v1638189874/Ecological%20videos/ecological_rjj5qs.mp4",id: "cover-video", autoplay: true, loop: true, width: "480vw") %>
  </div>
    <%= render "homepage" %>
  </div>
    <%= render "new_account" %>
</div>
