<div class=" d-flex justify-content-center align-items-center">
  <%= video_tag("https://res.cloudinary.com/dyjkajjgg/video/upload/v1638189874/Ecological%20videos/ecological_rjj5qs.mp4",id: "cover-video", autoplay: true, loop: true, width: "480vw") %>
</div>

<div class="homepage-container-container">
  <div class="homepage-title">Eco-Logical</div>
    <div class="homepage-container">
        <div class="button-container-homepage">
          <h1 class="join-the-cause">
            <%= link_to "Join the cause", new_account_path, id: "join-button" %>
          </h1>
            <div><div class="sign-in-homepage"><%= link_to "Already a member?", new_account_path if user_signed_in?  %></div></div>
    </div>
  </div>
</div>
<div class="homepage-container-container">
  <div class="about-container">About blahblahblah</div>
</div>
