<h1>Kitchen sink</h1>

<button class="button-submit">Submit</button>
<button class="button-goback">Go Back</button>
<button class="button-signup">Sign Up</button>
<div class="banner">Banner</div>
<div class="headline-1">Headline 1</div>
<div class="headline-2">Headline 2</div>
<div class="headline-3">Headline 3</div>
<div class="headline-4">Headline 4</div>
<div class="expenses-overview">Expenses Overview</div>
