.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.h1hp {
  width: 372px;
  height: 144px;
  background: rgb(255,255,255);
  background: linear-gradient(173deg, rgba(255,255,255,1) 63%, rgba(87,255,0,1) 100%);
  margin-top: 10px;
  border-bottom-right-radius: 40px;

}
