.button-green {
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  font-size: 27px;
  color: white;
  text-decoration: none;
  margin-bottom: 25px;
  border-style: none;
  border-radius: 20px;
  padding: 14px 30px;
  box-shadow: 0px 10px 32px -9px black;
}

.button-green a {
  text-decoration: none;
  color: white;
}

.button-green a:visited {
  text-decoration: none;
  color: white;
}

.button-ghost-white {
  margin-top: 25px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  box-shadow: 0px 10px 32px -13px black;
}

.button-submit {
  padding: 6.32079px 12.6416px;
  width: 179px;
  height: 42px;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-radius: 11.8515px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  font-style: normal;
  font-size: 23.703px;
  line-height: 29px;
}

.button-know-more {
  padding: 6.32079px 12.6416px;
  width: 179px;
  height: 42px;
  background: white;
  border-radius: 11.8515px;
  border-style: none;
  transition-duration: 0.3s;
  color: rgba($color: #000000, $alpha: 0.8);
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  font-weight: bolder;
  box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
  margin-right: 10px;
}

input[type=submit] {
  padding: 6.32079px 12.6416px;
  width: 179px;
  height: 42px;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-radius: 11.8515px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  font-style: normal;
  // font-size: 23.703px;
  line-height: 29px;
  box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
}

.button-goback {
  padding: 8px 16px;
  width: 98px;
  height: 24px;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-radius: 15px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 12.6416px;
  line-height: 15px;
  text-align: center;
  justify-content: center;
}

.button-main {
  padding: 8px 16px;
  background-color: $eco-green;
  border-style: none;
  color: white;
  font-style: normal;
  font-size: 25px;
  transition-duration: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 25px;
  z-index: 150;
}

.btn-dash {
  width: fit-content;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  color: white;
  border-radius: 15px;
  padding: 10px;
}



.btnd2{
  justify-content: space-around;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.reccomendations-button-container {
  display: flex;
  justify-content: center;
}

.reccomendations-button a {
  color: white;
  text-decoration: none;
}

.reccomendations-button:visited {
  text-decoration: none;
}

.reccomendations-button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right:5px;
}

.green-me-up a{
  color: white;
  text-decoration: none;
  font-family: Overpass, sans-serif;
}

.green-me-up a:visited {
  text-decoration: none;
  color: white;
}

.green-me-up-container {
  padding-right:10px;
  // display: flex;
}
.green-me-up-container > img{
  height: 20px;
  width: 20px;
  position: absolute;
  margin-right: 1px;
  margin-left:-345px;
  margin-top:53px;
}

.green-me-up-container-pledge-complete > img{
  height: 20px;
  width: 20px;
  position: absolute;
  margin-right: 1px;
  margin-left:-356px;
  margin-top:32px;
}

.green-me-up {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.green-me-up-modal {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: #25cf7a;
  border-style: none;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom:8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 5px;
}

.go-to-pledges {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -10px;
  margin-top: -5px;
}

.go-to-pledges a{
  color: white;
  text-decoration: none;
}

.go-to-pledges-container {
  display: flex;
  justify-content: center;
}

.go-to-pledges-show {
  font-size: 20px;
}
.button-dash-1 {
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
  text-decoration: none;
  margin-bottom: -10px;
  margin-top: -5px;
}

.green-me-up-btn-dash{
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #177032 0%, #25cf7a  70%);
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;

}

.mp1234{
  justify-content: center;
}
