.button-submit {
  padding: 6.32079px 12.6416px;
  width: 179px;
  height: 42px;
  background: linear-gradient(272.02deg, #B0D76C -22.12%, #7FC859 157.14%);
  border-radius: 11.8515px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  font-style: normal;
  font-size: 23.703px;
  line-height: 29px;
}

.button-submit:hover {
  background: #099D02;
}

.button-know-more {
  padding: 6.32079px 12.6416px;
  width: 179px;
  height: 42px;
  background: white;
  border-radius: 11.8515px;
  border-style: none;
  transition-duration: 0.3s;
  color: rgba($color: #000000, $alpha: 0.8);
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  font-weight: bolder;
  box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
  margin-right: 10px;
}

input[type=submit] {
  padding: 6.32079px 12.6416px;
  width: 179px;
  height: 42px;
  background: linear-gradient(272.02deg, #B0D76C -22.12%, #7FC859 157.14%);
  border-radius: 11.8515px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  font-style: normal;
  // font-size: 23.703px;
  line-height: 29px;
  box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
}

.button-goback {
  padding: 8px 16px;
  width: 98px;
  height: 24px;
  background: #099D02;
  border-radius: 15px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 12.6416px;
  line-height: 15px;
  text-align: center;
  justify-content: center;
}

.button-goback:hover {
  background: linear-gradient(272.02deg, #B0D76C -22.12%, #7FC859 157.14%);
}

.button-main {
  padding: 8px 16px;
  background-color: $eco-green;
  border-style: none;
  color: white;
  font-style: normal;
  font-size: 25px;
  transition-duration: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 25px;
  z-index: 150;
}

.reccomendations-button-container {
  display: flex;
  justify-content: center;
}

.reccomendations-button a {
  color: white;
  text-decoration: none;
}

.reccomendations-button:visited {
  text-decoration: none;
}

.reccomendations-button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-color: #25cf7a;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.green-me-up a{
  color: white;
  text-decoration: none;
}

.green-me-up a:visited {
  text-decoration: none;
  color: white;
}

.green-me-up-container {
  display: flex;
  justify-content: center;
}

.green-me-up {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-color: #25cf7a;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.go-to-pledges {
    font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-color: #25cf7a;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.go-to-pledges a{
  color: white;
  text-decoration: none;
}

.go-to-pledges-container {
  display: flex;
  justify-content: center;
}
