.button-submit {
  padding: 6.32079px 12.6416px;
  width: 179px;
  height: 42px;
  background: linear-gradient(272.02deg, #B0D76C -22.12%, #7FC859 157.14%);
  border-radius: 11.8515px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  font-style: normal;
  font-size: 23.703px;
  line-height: 29px;
}

.button-submit:hover {
  background: #099D02;
}

.button-goback {
  padding: 8px 16px;
  width: 98px;
  height: 24px;
  background: #099D02;
  border-radius: 15px;
  border-style: none;
  transition-duration: 0.3s;
  color: white;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 12.6416px;
  line-height: 15px;
  text-align: center;
  justify-content: center;
}

.button-goback:hover {
  background: linear-gradient(272.02deg, #B0D76C -22.12%, #7FC859 157.14%);
}

.button-main {
  padding: 8px 16px;
  background-color: $eco-green;
  border-style: none;
  color: white;
  font-style: normal;
  font-size: 25px;
  transition-duration: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 25px;
  z-index: 150;
}

.btn-dash {
  width: fit-content;
  background-color: blue;
  color: white;
  border-radius: 15px;
}

.btnd2{
  justify-content: space-around;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
.reccomendations-button-container {
  display: flex;
  justify-content: center;
}

.reccomendations-button a {
  color: black;
  text-decoration: none;
}

.reccomendations-button:visited {
  text-decoration: none;
}

.reccomendations-button {
  margin-bottom: 20px;
}

.green-me-up a{
  color: black;
  text-decoration: none;
}

.green-me-up a:visited {
  text-decoration: none;
  color: black;
}

.green-me-up-container {
  display: flex;
  justify-content: center;
}

.green-me-up {
  margin-bottom: 20px;
}
