.card-container {
  text-align: center;
  width: 320px;
}

.card-container a {
  color: black;
  text-decoration: none;
}

.card-container:visited {
  color: black;
  text-decoration: none;
}

.container-all-pledges {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  border-radius: 10px;
  width: 100%;
}

.btn {
  font-size: 17px;
  color: black;
  text-decoration: none;
}

.btn:visited {
  text-decoration: none;
  color: black;
}

.card-body {
 font-size: 15px;
 text-align: left;
}
