.card-container {
  text-align: center;
  width: 320px;
  background-color: black;
}

.container-all-pledges {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard-h1 {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px;
  padding: 15px;
  border-radius: 15px;

}
.show1 {
  display: block;
}

.hide1 {
  display: none;
}

.dashboard-h2{
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}

.hb32 {
  justify-content: space-between;
}

.dashboard-h3{
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  margin-top: 20px;
}

.dash-card-1{
/* From https://css.glass */
  background: rgba(255, 255, 255, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 1);

}

.card {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

// .card p:visited {
//   text-decoration: none;
//   color: black;
// }

.btn {
  font-size: 17px;
  color: black;
  text-decoration: none;
}

.btn:visited {
  text-decoration: none;
  color: black;
}

.card-body {
 font-size: 15px;
 text-align: left;
}

.card-body a {
  color: black;
  text-decoration: none;
}

.card-body a:visited {
  color: black;
  text-decoration: none;
}

.months-dash  a{
  color: black;
}

.months-dash  {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.74);
  padding: 10px;
}

.dashboard-h1 a{
  color: black;
}

.greendash{
  background-image: linear-gradient(to right, #000000 0%, #0f9b0f  70%);
  color: white;
  font-weight: bold;
  height: full;
  border-radius: 20px;
  padding: 20px;
}

.greendash1 {
  background-image: linear-gradient(to right,  #1e8d3f 0%, #1aca72  70%);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  width: 120px;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2);
  box-shadow: -.2rem -.2rem .5rem var(--white);
}

.greendash1 > i {
  -webkit-text-fill-color: white;
}

.white-icon {
  color: white;
}

.dprop {
  justify-content: space-around;

}

.dprop1 {
  justify-content: space-around;
  color: white;
  background-color: #25cf7a;
  border: 5px dashed #ffffff;
}

.greendash1money {
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  width: 120px;
}

.dashboard-h3::before {
  content: "";
  position: absolute;
  top: 0;right: 0;
  border-bottom: 80px solid white;
  border-right: 80px solid #F3F3F3;
  width: 0;
}

.greendash1money > p, i {
  background: -webkit-linear-gradient( #1e8d3f 0%, #1aca72  70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal13 {
  border-radius: 12px;
  padding: 20px;
}

.header-chart {
  margin-bottom: -71px;
  margin-left: -138px;
  margin-top: 30px;
}

.header-chart1 {
  margin-bottom: -71px;
  margin-top: 30px;
  margin-left: 120px;
}
