.card-container {
  text-align: center;
  width: 320px;
  background-color: black;
}

.container-all-pledges {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
