.card-green{
  background-color: #C5D893 ;
  border-radius: 25px;
  box-shadow: white;
  height: fit-content;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-align: left;
}

.sign-card{
  background: linear-gradient(180deg,#0c9e77,#076048);
  height: 100%;
  width: 100%;
  margin-top: -50px;
  background-image: asset/url("frame");
}

.card-green-left{
  background-color: #C5D893 ;
  border-radius: 25px;
  box-shadow: white;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-align: left;
  margin: 8px;
  align-items: center;
  height: 3rem;

}

.card-container-left{
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

.card-container-right{
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.card-green-right{
  background-color: #C5D893 ;
  border-radius: 25px;
  box-shadow: white;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-align: left;
  margin: 8px;
  align-items: center;
  height: 3rem;

}

.seedling-button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-color: #25cf7a;
  border-style: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.seedling-button a {
  color: white;
}

.seedling-button:visited {
  text-decoration: none;
}

.seedling-container {
  display: flex;
  justify-content: center;
}

.card-glass {
  background: transparent;
  border-radius: 20px;
  margin-top: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-white {
  background-color: white;
  height: 300px;
  border-radius: 20px;
  width: 100%;
  margin-top: 40px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  h2 {
    font-family: Caveat, sans-serif;
    color: #25cf7a;
  }
  h3 {
    font-family: Caveat, sans-serif;
    color: #25cf7a;
    padding-top: 20px;
  }
}

.card-step1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 480px;
  border-radius: 20px;
  width: 100%;
  margin-top: 40px;
  text-align: left;
  padding-top: 10px;
  h2 {
    font-family: Caveat, sans-serif;
    color: #25cf7a;
    margin-top: 5px;
  }
  h3 {
    font-family: Caveat, sans-serif;
    color: #25cf7a;
    padding-top: 20px;
  }
  img {
    height: 320px;
    width: auto;
    padding-bottom: 20px;
  }
}

.card-step2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 480px;
  border-radius: 20px;
  width: 100%;
  margin-top: 40px;
  text-align: left;
  padding-top: 10px;
  img {

  }
}

.card-step3 {
  background-color: white;
  height: 470px;
  border-radius: 20px;
  width: 100%;
  margin-top: 40px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  h2 {
    font-family: Caveat, sans-serif;
    color: #25cf7a;
  }
  h3 {
    font-family: Caveat, sans-serif;
    color: #25cf7a;
    padding-top: 20px;
  }
  img {
    height: 200px;
    width: auto;
}
}

.pledge-card-container{
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.pledge-card-photo {
  overflow: hidden;
  height: 90px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  width: 45vw;
  align-items:center;
}

.pledge-card-photo > img {
  height: 90px;
  width: 90px;
  border-radius: 10px;
}

.pledge-card-photo > h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.pledge-card-photo > p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.pledge-card-info{

}
