.swipe {
  overflow:hidden;
  visibility: hidden;
  position: relative;
  width: auto;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  align-items:center;
  margin-bottom: 5px;
}
.swipe-wrap > .swipe-container {
  float: left;
  position: relative;
  box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.3);
  border-radius: 10px;
  width: auto;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  align-items: center;
}
.swipe-image{
  height: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  opacity: 1;
  width:auto;
}
.swipe-btn-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.swipe-btn-container > p{
  margin: 0 2px;
}
.accordion-container{
  margin-bottom: 40px;
}
