.swipe {
  overflow:hidden;
  visibility: hidden;
  position: relative;
  width: auto;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  align-items:center;
}
.swipe-wrap > .swipe-container {
  float: left;
  position: relative;
  border: 5px solid red;
}
.swipe-image{
  height: 40vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  opacity: 1;
  width:auto;
}
