.trees {
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  width: 120px;
  background: -webkit-linear-gradient(#000000 0%, #0f9b0f  70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-card-dash{
  font-family: 'Poppins' !important;
}
