.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:15px;
	background-color:#22a048;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index: 1;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.my-float{
	margin-top:22px;
}

.float:visited {
  color: white;
}
