
#homepage-solar{
  margin-top: -40px;
  margin-right: -250px;
  height: 80px;
  width: 85px;
}

#homepage-buy{
  width: 80px;
  height: 86px;
  margin-top: -40px;
  margin-right: -250px;
  z-index: 120;
}

#homepage-1{
  width: 66px;
  height: 66px;
  margin-right: -65px;
}

#homepage-2{
  width: 66px;
  height: 66px;
  margin-left: -65px;
}

#image-task1{
  margin-top: -140px;
  margin-left: 130px;
  height: 130px;
  width: 135px;
}

.recommendation-show{
  height: 50vh;
  width: auto;
  overflow:hidden;
}
