/* The Modal (background) */
.pledgeModalContainer {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow:auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border: 15px;
  margin-top:20px;
  margin-bottom:20px;
}

// /* Modal Content/Box */
// .pledge-modal-content {
//   background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
// }

/* The Close Button */


/* Modal Header */
.pledge-modal-header {
  padding: 2px 16px;
  background-color: #fefefe;
  color: white;
}

/* Modal Body */
.pledge-modal-body {
  // padding: 2px 16px;
}
.pledge-modal-body > p {
  margin-top: 10px;
}


/* Modal Footer */
.pledge-modal-footer {
  padding: 2px 16px;
  background-color: #fefefe;
  color: white;
}

/* Modal Content */
.pledge-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.myPledgeModalTitle{
  font-family: Caveat, sans-serif;
  color: #25CF7A;
}
.pledge-modal-header{
  text-align: center;
}

.myPledgeModalPic{
  height: auto;
  width:70vw;
  border-radius: 15px;
}
.pledgeModalContainer{
  align-items:center;
  background-color:white;
}

.pledgeModalContainer{
  margin-top: 10px;
}


.pledge-card-carbons-modal{
  display:flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:-20px;

}
.pledge-card-carbons-modal > p {
  margin-right:3px;
  font-size: 20px;
}
.myModalDescription{
  padding:15px;
  padding-left: 25px;
  padding-right: 25px;
}

.dashboardModalBreakdown{
  color:#25CF7A;
  font-family: Overpass, sans-serif;
}

.modal-bottom-line{
  border-bottom: 5px dotted #25CF7A;
}
