.navbar-lewagon {
  justify-content: space-around;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.37);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  border: none;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.navbar-icon-green{
  color: #25CF7A
}

.navbar-pledge-count{
  background-color: #115300;
  border-radius: 50%;
  position:absolute;
}

.pledge-count23 {
  position: absolute;
  top: 1px;
  font-size: 17px;
}
