.banner {
font-style: normal;
font-weight: bold;
font-size: 105px;
line-height: 127px;
color: #000000;
}

.headline-1 {
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 87px;
color: #000000;
}

.headline-2 {
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
color: #000000;
}

.headline-3 {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
color: #000000;
}

.headline-4 {
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #000000;
}

.typed {
  margin-top: 10px;
  margin-bottom: -20px;
  height: 1rem;

}

.typed-container {
  margin-bottom: 30px;
  color: #115300;
  font-size: large;
  margin-left: 42px;
}

.card-container h1 {
  font-size: 20px;
}

.comp-pledges {
  text-align: center;
}

.your-pledges-page {
  margin-bottom: 40px;
	font-size: 50px;
	font-weight: bolder;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.comp-pledges {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.your-pledges {
  margin-bottom: 40px;
	font-size: 70px;
	font-weight: bolder;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.total-co2 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.latest-completed-pledges {
  text-align: left;
  margin-bottom: 40px;
	font-size: 35px;
	font-weight: bolder;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  text-align: center;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.offset-recommendations {
  text-align: center;
  margin-bottom: 15px;
	font-size: 70px;
	font-weight: bold;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  text-align: center;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 0.8;
}

.offset-recommendations-subheader {
  text-align: center;
	font-size: 25px;
	font-weight: bolder;
	color: #115300;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 0.8;
}

.offset-recommendations-show {
  text-align: center;
  margin-bottom: 10px;
	font-size: 32px;
	font-weight: bolder;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
