.banner {
font-style: normal;
font-weight: bold;
font-size: 105px;
line-height: 127px;
color: #000000;
}

.headline-1 {
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 87px;
color: #000000;
}

.headline-2 {
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
color: #000000;
}

.headline-3 {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
color: #000000;
}

.headline-4 {
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #000000;
}

.typed {
  margin-top: 10px;
  margin-bottom: -20px;
  height: 1rem;
}

.card-container h1 {
  font-size: 20px;
}
