<div class="container slider-one-active">
  <div class="steps">
    <div class="step step-one">
      <div class="liner"></div>
      <span>Paid To</span>
    </div>
    <div class="step step-two">
      <div class="liner"></div>
      <span>Information</span>
    </div>
    <div class="step step-three">
      <div class="liner"></div>
      <span>Create</span>
    </div>
  </div>
  <div class="line">
    <div class="dot-move"></div>
    <div class="dot zero"></div>
    <div class="dot center"></div>
    <div class="dot full"></div>
  </div>
  <div class="slider-ctr">
    <div class="slider">
      <form class="slider-form slider-one">
        <h2>Welcome for the first part of your journey</h2>
        <label class="input">
          <input type="text" class="creditor-name" placeholder="Your Bank?">
        </label>
        <label class="input">
          <input type="text" class="name" placeholder="Your Bank?">
        </label>
        <label class="input">
          <input type="text" class="name" placeholder="Your Bank?">
        </label>
        <button class="first next">Next Step</button>
      </form>
      <form class="slider-form slider-two form-2">
        <h2>Please provide you account number</h2>
        <div class="label-ctr">
          <label class="account-number">
            <input type="text" class="number" placeholder="Account Number">
          </label>
        </div>
        <button class="second next">Next Step</button>
      </form>
      <div class="slider-form slider-three">
        <h2>Hello, <%= current_user.first_name %></span></h2>
        <p class="your-bank"></p>
        <p class="account-number-p"></p>
        <h3>After Reviewing your information please click to import your data!
        </h3>
        <%= link_to "Import!", fetch_expenses_path%>
      </div>
    </div>
  </div>
</div>
